.wd-dashboard-col {
    padding-left: 30px;
    padding-right: 30px;
}

.wd-card {
    width: 250px;
    margin: 10px;
}

.wd-card-img {
    height: 200px;
}

.wd-card-title {
    color: blue;
}

.wd-card-subtitle {
    color: grey;
    margin-bottom: 0px;
}

.wd-card-text {
    color: grey;
    font-size: small;
    margin-bottom: 6px;
}

.wd-card-icon {
    color: grey;

}

.wd-card-icon:hover {
    color:grey
}





a.list-group-item:hover {
    color: black;
}

.wd-course-title {
    font-size: large;
}

.wd-bottom-spacing {
    margin-bottom: 10px;
}

